/** @format */
@use '../../../stylesheet/colorPalette';
@use '../../../stylesheet/textStyle';

.button-style {
	text-align: center;
	border-radius: 0px;
	@include textStyle.SansPro500(14px, 18px);
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	gap: 6px;
	cursor: pointer;
	letter-spacing: 0.05em;
	white-space: nowrap;
}

.primary-button {
	color: colorPalette.$white;
	background-color: colorPalette.$diorGrey;
}

.default-button {
	background-color: colorPalette.$white;
	color: colorPalette.$diorGrey;
	border: 1px solid black;
}

.delete-button {
	background-color: #d83232;
	color: colorPalette.$white;
}
