/** @format */

button {
	outline: none;
	border: none;
	font-family: 'Source Sans 3', sans-serif !important;
	&:focus {
		outline: none !important;
		border: none !important;
	}
	&:focus-visible {
		outline: none;
		border: none;
	}
}

//change scroll-x bar height
::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}
