/** @format */
$grey200: rgba(234, 236, 240, 1);
$grey300: rgba(208, 213, 221, 1);
$grey400: rgba(152, 162, 179, 1);
$grey500: rgba(102, 112, 133, 1);
$grey600: rgba(71, 84, 103, 1);
$grey700: rgba(52, 64, 84, 1);
$emeraldBase: rgba(45, 106, 79, 1);
$diorGrey: rgba(30, 30, 30, 1);
$darkGrey: rgba(29, 70, 72, 1);
$globalBody: rgba(51, 51, 51, 1);
$white: rgba(255, 255, 255, 1);
