/** @format */

@use '../../../stylesheet/colorPalette';
@use '../../../stylesheet/textStyle';

.sansPro {
	font-family: 'Source Sans 3', sans-serif;
}

.lora {
	font-family: 'Lora', serif;
}

.poppins {
	font-family: 'Poppins', sans-serif;
}
