/** @format */

@use '../../stylesheet/container' as container;

.digital-invite-container {
	@include container.pageContainerStyle();
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.setting-card-container {
	max-width: 720px;

	@media screen and (max-width: 600px) {
		width: 100%;
	}
}

.itineraryContent_activity {
	padding: 16px 5px;
	display: flex;
	flex-direction: column;

	.activityContent {
		overflow-y: auto;
	}

	.no_activity,
	.yes_activity {
		display: flex;

		.date {
			flex: 2;
		}

		.activity_detail {
			flex: 5;
			padding-left: 30px;
			padding-bottom: 20px;
			border-left: 2px solid rgba(241, 191, 190, 1);
			cursor: pointer;

			&::before {
				content: '';
				display: block;
				width: 15px;
				height: 15px;
				border-radius: 50%;
				background-color: rgba(241, 191, 190, 1);
				transform: translateX(-38.4px);
			}

			.activity_title {
				color: rgba(0, 0, 0, 1);
				transform: translateY(-15px);
			}

			.activity_description {
				color: rgba(102, 112, 133, 1);
				transform: translateY(-15px);
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: pre-wrap;
			}
		}

		.addActivity_button {
			flex: 5;
			cursor: pointer;
			padding-left: 30px;
			border-left: 2px solid rgba(241, 191, 190, 1);

			&::before {
				content: '';
				display: block;
				width: 14px;
				height: 14px;
				border-radius: 50%;
				background-color: rgba(241, 191, 190, 1);
				transform: translateX(-38px);
			}
			.border {
				height: 60px;
				border-radius: 10px;
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 5px;
				color: rgba(152, 162, 179, 1);
				transform: translateY(-15px);
			}
		}

		&:last-child {
			.activity_detail {
				border-left: 2px solid rgba(241, 191, 190, 0);
			}
		}
	}
}

.edit-text-center {
	textarea,
	input {
		letter-spacing: 0.01em;
		border: none;
		text-align: center;
		width: 100%;
	}
}

.template-card-container {
	.template-card {
		cursor: pointer;
		box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
		background-color: rgba(255, 255, 255, 0);
		background-blend-mode: overlay;
		border-radius: 8px;
		width: 210px;
		height: 400px;
		background-size: cover;
		background-position: center;
		transition: all 0.2s ease-in-out;

		&:hover {
			box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.2);
			background-color: rgba(255, 255, 255, 0.5);
			transform: translateY(-10px);
			transition: all 0.2s ease-in-out;

			.template-buttons {
				display: flex;
				transition: all 0.2s ease-in-out;
			}
		}

		.template-buttons {
			display: none;
			transition: all 0.2s ease-in-out;
		}
	}
}

.gift-registry-card {
	height: 340px;
	max-width: 335px;
	width: 100%;
	background: var(--base-white, #fff);
	border: 1px solid var(--neutral-grey-200, #e4e7ec);
	border-radius: 8px;
	cursor: pointer;
	transition: box-shadow 0.3s ease;

	&:hover {
		box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.08), 0px 8px 8px -4px rgba(16, 24, 40, 0.03);
		transition: box-shadow 0.3s ease;
	}

	.gift-registry-img-container {
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		transition: all 0.2s ease-in-out;
		background-color: var(--neutral-grey-50, #f9fafb);
	}
}
