/** @format */

.sansPro {
	font-family: 'Source Sans 3', sans-serif;
}

.lora {
	font-family: 'Lora', serif;
}

.poppins {
	font-family: 'Poppins', sans-serif;
}

.playfair {
	font-family: 'Playfair Display', serif;
}

.ebGaramond {
	font-family: 'EB Garamond', serif;
}

.greatVibes {
	font-family: 'Great Vibes', cursive;
}
