/** @format */

.modal-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px;
	font-family: 'Source Sans 3', sans-serif;
	font-size: 18px;
	font-weight: 600;
	line-height: 24px;
	letter-spacing: 0.5px;
	text-align: left;
	border-bottom: 1px solid rgba(228, 231, 236, 1);
	background-color: white;
}

.modal-top-2 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px;
	font-family: 'Source Sans 3', sans-serif;
	font-size: 18px;
	font-weight: 600;
	line-height: 24px;
	letter-spacing: 0.5px;
	text-align: left;
}

.modal-content {
	font-family: 'Source Sans 3', sans-serif;
}

.modal-top-guest {
	background: linear-gradient(180deg, #ffdbcf 0%, #fff 100%);
}

.modal-content-2 {
	min-width: 400px;
}
