/** @format */

.guest-invitedRSVP,
.guest-attendingRSVP,
.guest-waitingRSVP,
.guest-notattendingRSVP,
.guest-maybeRSVP {
	text-transform: uppercase;
	display: flex;
	max-width: 160px;
	align-items: center;
	gap: 6px;
	font-size: 11px;
	font-weight: 500;
	color: rgba(29, 70, 72, 1);
	border: 1px solid rgba(208, 213, 221, 1);
	padding: 5px 14px;
	border-radius: 20px;

	@media screen and (max-width: 600) {
		div {
			display: none;
		}
	}
}

.guest-invitedRSVP {
	background: rgba(242, 244, 247, 1);
}

.guest-notattendingRSVP {
	background: rgba(247, 196, 202, 1);
}

.guest-waitingRSVP {
	border: none;
}

.guest-attendingRSVP {
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
		linear-gradient(0deg, #19d37a, #19d37a);
}

.guest-maybeRSVP {
	background: #e8d997a9;
}
